<nav>
<li>
    <div class="home"><a href=" ">ホーム</a></div>
    <div class="hash"><a href=" ">話題を検索</a></div>
    <div class="ikon"><a href=" ">通知</a></div>
    <div class="messe"><a href=" ">メッセージ</a></div>
    <div class="book"><a href=" ">ブックマーク</a></div>
    <div class="list"><a href=" ">リスト</a></div>
    <div class="pro"><a href=" ">プロフィール</a></div>
    <div class="see"><a href=" ">もっと見る</a></div>
    <%= link_to 'ツイートする', '/tweets/new' %>
</li>
</nav>