/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	background-color: white;
	width: 980px;
	margin: 0 auto;
}

#header {
    height: 50px;
    padding-left: 150px;
}

#sidebar {
    width: 200px;
    min-height: 400px;
    height: auto;
    margin-top: 10px;
    line-height: 40px;
    float: left;
}

#footer {
    border-top: solid 1px #CCCCCC;
    clear: both;
    text-align: center;
}


.home:before {
  font-family: 'FontAwesome';
  content: "\f015";
}

.hash:before {
  font-family: 'FontAwesome';
  content: "\f198";
}


.ikon:before {
  font-family: 'FontAwesome';
  content: "\f0a2";
}

.messe:before {
  font-family: 'FontAwesome';
  content: "\f003";
}

.book:before {
  font-family: 'FontAwesome';
  content: "\f02e";
}

.list:before {
  font-family: 'FontAwesome';
  content: "\f022";
}

.pro:before {
  font-family: 'FontAwesome';
  content: "\f007";
}

.see:before {
  font-family: 'FontAwesome';
  content: "\f010";
}



nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    padding: 5px;
    color: #000;
}
nav li a:hover {
    background-color: #555;
    color:  white;
}